<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="justify-center min-h-screen flex-col-box bg-yankees-blue">
    <main class="container flex items-center justify-center px-5 mx-auto">
      <%= yield %>
    </main>

    <%= any_login_here if defined?(AnyLogin)%>
  </body>
</html>
